{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}
   

{% block body %}
    <div class="container">
        <h1>Categories index</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Categ_label</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.categLabel }}</td>
                    <td>
                        <a href="{{ path('app_categories_show', {'id': category.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('app_categories_edit', {'id': category.id}) }}" class="btn btn-secondary">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_categories_new') }}" class="btn btn-success">Create new</a>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
