{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    {% for name, artist in names %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ artist['image'] }}" class="card-img-top" alt="">
          <div class="card-body">
            <figure>
              <figcaption>{{ name }}</figcaption>
              <button class="play-button" onclick="playMusic('{{ name }}', this)">&#9658;</button>
              <button class="pause-button" onclick="pauseMusic('{{ name }}', this)">&#10074;&#10074;</button>
              <audio id="{{ name }}" src="{{ artist.song }}" onended="resetMusic(this)"></audio>
            </figure>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script>
function playMusic(id, button) {
  var audio = document.getElementById(id);
  audio.play();
  audio.classList.add('playing');
  button.style.display = 'none';
  button.nextElementSibling.style.display = 'block';
}

function pauseMusic(id, button) {
  var audio = document.getElementById(id);
  audio.pause();
  audio.classList.remove('playing');
  button.style.display = 'none';
  button.previousElementSibling.style.display = 'block';
}

function resetMusic(audio) {
  audio.classList.remove('playing');
  audio.previousElementSibling.style.display = 'block';
  audio.nextElementSibling.style.display = 'none';
}
</script>
{% endblock %}
