{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_label(form.Name) }}
        {{ form_widget(form.Name) }}
    </div>
    <div class="col">
        {{ form_label(form.Prenom) }}
        {{ form_widget(form.Prenom) }}
    </div>
</div>
<div class="row">
<div class="col">
{{ form_label(form.email) }}
{{ form_widget(form.email) }}
</div>
<div class="col">
{{ form_label(form.password) }}
{{ form_widget(form.password) }}
</div>
</div>
<div class="row">
<div class="col">
  {{ form_label(form.username) }}
 {{ form_widget(form.username) }}
</div>
<div class="col">
{{ form_widget(form.roles, { 'attr': {'class': 'form-control1'}}) }}
</div>
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<style>.form-control1 {
  display: block;
  width: 40%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
</style>
